.features {
  background-color: #f1fdf7;
  display: flex;
  padding: 90px 0px;
  justify-content: center;
  .container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 1400px;
    .left-section {
      flex: 2;
      display: flex;
      gap: 10px;
      flex-direction: column;
      h2 {
        color: #404145;
        font-size: 32px;
        font-weight: 700;
        line-height: 35.4px;
        padding: 0px 0px 15px;
      }
      .title {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        gap: 10px;
        color: #404145;
        img {
          height: 25px;
          width: 25px;
        }
      }
      p {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 26px;
        color: #62646a;
      }
    }
    .right-section {
      display: flex;
      justify-content: center;
      flex: 3;
      video {
        height: 449px;
        margin-left: 90px;
        border-radius: 5px;
        width: 720px;
      }
    }
  }
}
