.category {
  width: 252px;
  height: 345px;
  color: white;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .desc {
    font-weight: 300;
    top: 10px;
    left: 15px;
    position: absolute;
  }
  .title {
    position: absolute;
    font-weight: 500;
    top: 30px;
    font-size: 24px;
    left: 15px;
  }
}
